*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;

  color: #ffffff;

  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  scroll-behavior: smooth;
}

.progress {
  display: flex;

  max-width: 743px;
  margin: 20px auto;
  padding: 12px 18px 15px 22px;

  border-radius: 10px;
  background-color: #3579f5;

  &__bar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    margin: 4px 16px 0 0;

    &-circle-fg {
      --radius: 29;
      --curcumference: calc(var(--radius) * 2 * pi);
      --percent: 3;
      transform: rotate(-90deg);
      transform-origin: 50%;
      stroke-dasharray: var(--curcumference);
      stroke-dashoffset: calc(
        var(--curcumference) - var(--percent) / 100 * var(--curcumference)
      );
    }

    &-inner {
      display: flex;
      position: absolute;
      font-size: 20px;
    }
  }

  &__description {
    &-name {
      max-width: 76px;
      margin-bottom: 4px;

      text-align: center;

      border-radius: 40px;
      background-color: #2364db;
    }

    &-completed {
      margin-bottom: 4px;

      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
    }

    &-task {
      display: flex;

      &-text {
        margin-left: 3px;
      }
    }
  }

  &__button {
    max-height: 40px;
    margin: 14px 0 0 auto;
    padding: 10px 25px 10px 24px;

    cursor: pointer;
    text-align: center;

    color: #4777ed;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #f4f8ff;

    font-family: Inter;
    font-size: 14px;
    &:hover {
      background-color: #e0e4e9;
    }
    &:active {
      border: 1px solid #4777ed;
    }
  }
}

